<div th:fragment="top">

    <!--    <style>-->
    <!--        .custom-img {-->
    <!--            width: 25%;-->
    <!--            height: 25px;-->
    <!--            position: absolute;-->
    <!--            margin: -2px 0 0 -7px;-->
    <!--        }-->
    <!--    </style>-->

    <h2 class="mb-3">Truyện Hot  <i class="fa fa-fire"></i></h2>


    <div class="row d-flex justify-content-center align-items-center">
        <i class="fa fa-arrow-left" style="margin: 0 50px 0 0"></i>
        <div class="col-md-2 col-sm-4 col-6 mb-4">
            <div class="truyen-item">
                <span class="full-label"></span>
                <!--                <img class="hot" src="/images/hot.png">-->
                <img src="/images/truyen1.jpg"
                     alt="Thế Giới Hoàn Mỹ">
                <div class="truyen-title">Thế Giới Hoàn Mỹ</div>
                <div class="truyen-info">Tác giả: Thần Đông</div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 mb-4">
            <div class="truyen-item">
                <span class="full-label"></span>
                <!--                <img class="hot" src="/images/hot.png">-->
                <img src="/images/truyen1.jpg"
                     alt="Thế Giới Hoàn Mỹ">
                <div class="truyen-title">Thế Giới Hoàn Mỹ</div>
                <div class="truyen-info">Tác giả: Thần Đông</div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 mb-4">
            <div class="truyen-item">
                <span class="full-label"></span>
                <!--                <img class="hot" src="/images/hot.png">-->
                <img src="/images/truyen1.jpg"
                     alt="Thế Giới Hoàn Mỹ">
                <div class="truyen-title">Thế Giới Hoàn Mỹ</div>
                <div class="truyen-info">Tác giả: Thần Đông</div>
            </div>
        </div>

        <i class="fa fa-arrow-right" style="margin: 0 0 0 50px"></i>
<!--        <a class="carousel-control-next" href="#truyenCarousel" role="button" data-slide="next">-->
<!--            <span class="carousel-control-next-icon"></span>-->
<!--            <span class="sr-only">Next</span>-->
<!--        </a>-->
        <!-- Thêm các mục truyện hot khác ở đây -->
    </div>

    <!--    <div class="item top-1" itemscope="" itemtype="https://schema.org/Book"><a-->
    <!--            href="https://truyenfull.vn/linh-vu-thien-ha/" itemprop="url"><span class="full-label"></span><img-->
    <!--            src="https://static.8cache.com/cover/o/eJzLyTDW160wTC70dXI0zAnO1g9LL0gpsAz0CA_x1HeEAqckR31jj0A_n_Jg8ygXC_1yIzNT3QxjSzNdz2QTIwCutRND/linh-vu-thien-ha.jpg"-->
    <!--            alt="Linh Vũ Thiên Hạ" class="img-responsive item-img" itemprop="image">-->
    <!--        <div class="title"><h3 itemprop="name">Linh Vũ Thiên Hạ</h3></div>-->
    <!--    </a></div>-->
</div>


