<!doctype html>
<html lang="en" xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{User-layout}" xmlns:sec>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<!--<script src="https://cdn.tailwindcss.com"></script>-->

<body>
<section>
    <div layout:fragment="content">
        <div th:replace="/component/ClienComponets/hottop :: top"></div>
        <h2 class="mb-3">Truyện Đã Hoàn Thành</h2>
        <div class="row">
            <div class="col-xs-4 col-sm-3 col-md-2" th:each="story : ${liststory}">
                <div class="truyen-item">
                    <img th:src="'/images/' + ${story.image}" alt="image">
                    <div class="tree-title" th:text="${story.name}"></div>
                </div>
                <button class="btn-outline-info" style="background-color: #f57224" th:attr="data-id=${story.id}">Thêm
                    vào giỏ hàng
                </button>
                <!-- <button>Chi Tiết</button> -->
            </div>
            <!-- Thêm các mục truyện đã hoàn thành khác ở đây -->
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var buttons = document.querySelectorAll('.btn-outline-info');
                buttons.forEach(function (button) {
                    button.addEventListener('click', function () {
                        var storyId = this.getAttribute('data-id');
                        console.log('Story ID:', storyId);

                        var userCart = JSON.parse(localStorage.getItem('userCart')) || [];

                        if (!userCart.includes(storyId)) {
                            userCart.push(storyId);
                            localStorage.setItem('userCart', JSON.stringify(userCart));
                            alert('Sản phẩm đã được thêm vào giỏ hàng.');
                        } else {
                            alert('Sản phẩm đã có trong giỏ hàng.');
                        }
                    });
                });
            });


            document.addEventListener('DOMContentLoaded', function () {
                var userCart = JSON.parse(localStorage.getItem('userCart')) || [];
                fetch('/home/gio-hang', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(userCart)
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            })
        </script>


    </div>
</section>
</body>
</html>