<!doctype html>
<html lang="en" xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{User-layout}" xmlns:sec>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section>
    <div layout:fragment="content">


        <div class="content-wrapper">
            <section class="content-header"><h1>Giỏ Hàng:</h1></section>
            <section class="content">
                <div class="row" >
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-7 col-sm-12">

                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col" class="col-6">Name</th>
                                                <th scope="col" class="col-3">Price</th>
                                                <th scope="col" class="col-3">#</th>
                                            </tr>
                                            </thead>
                                            <tbody th:if="${session.lists}">
                                            <tr th:each="cart :${session.lists}">
                                                <td th:text="${cart.name}"></td>
                                                <td th:text="${cart.price}"></td>
                                                <td><a href="#">delete</a></td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="col-md-5 col-sm-12">
                                        <div class="border border-2 rounded p-3 bg-light shadow-sm h-100 overflow-auto">

                                            <form action="/home/submitOrder" method="post" target="_blank">
                                                <div class="mb-4 kkk">
                                                    <label th:text="'Tên khách hàng: '+${session.user.name}"></label>
                                                    <input type="hidden"  th:value="${session.user.name}">
                                                </div>
                                                <div class="mb-4">
                                                    <label th:text=" 'Email: '+${session.user.email}"></label>
                                                    <input type="hidden" name="orderInfo" th:value="${session.user.email}">
                                                </div>

                                                <div class="mb-4">
                                                    <label>Tổng thanh toán: </label><span th:text="${session.totalPrice}"></span>
                                                    <input type="hidden" name="amount" th:value="${session.totalPrice}" >
                                                </div>
                                                <button type="submit" class="cssbuttons-io-button">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                                         height="24">
                                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                                        <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
                                                    </svg>
                                                    <span>Add</span>
                                                </button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </section>
        </div>


    </div>
</section>
</body>
</html>