<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{Admin-layout}" xmlns:sec>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .login-box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        padding: 40px;
        transform: translate(-50%, -50%);
        background: rgba(24, 20, 20, 0.987);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
        border-radius: 10px;
    }
</style>
<body>
<section layout:fragment="content">
    <div class="content-wrapper ">
        <section class="content">
            <table class="table table-bordered border-secondary bg-red">
                <thead>
                <tr>
                    <th Class="col-1">ID</th>
                    <th Class="col-2">Account</th>
                    <th Class="col-2">Name</th>
                    <th class="col-3">Active</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="user : ${session.listuser}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.account}"></td>
                    <td th:text="${user.name}"></td>
                    <td>
                        <input type="checkbox" th:checked="${user.active}" disabled style="transform: scale(1.5);">
                    </td>
                    <td>
                        <a th:href="@{'/dashboard/user/' + ${user.id}}" class="btn-custom">Edit</a>
<!--                        <a th:href="@{/edit/delete/{id}(id=${item.id})}">Delete</a>-->
                    </td>
                </tr>
                </tbody>
            </table>

            <form class="form" th:if="${usercurren}!=null" th:action="@{/dashboard/user/update}" th:object="${usercurren}" method="post">
                <input type="hidden" th:field="*{id}" />
                <input type="text" th:field="*{account}" readonly  />
                <input type="text" th:field="*{name}"  />
                <input type="email" th:field="*{email}" />
                <input type="checkbox" th:field="*{active}"  style="transform: scale(1.5)"/>
                <hr>
                <button formaction="/dashboard/user/update">Update</button>
                <a th:href="@{'/dashboard/user/' + ${id}}">Reset</a>
            </form>

        </section>
    </div>
</section>
</body>
</html>
